extends layout

block content
  h1 Users
  ul
    each user in users
      li username: #{user.username}, password: #{user.password}, created: #{user.created}, usertoken: #{user.usertoken}, pushtoken: #{user.pushtoken}

